body{
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

header{
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url('images/donation13.jpg');
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    background-repeat: no-repeat;
}

header h1 {
    text-align: center;
    font-size: 4em;
}

footer{
    background-color: #000;
    text-align: center;
}

footer h3 {
    color: #FF5959;
    font-weight: 900;
    font-style: italic;
}

footer p {
    color: #fff;
}
